credentials.json
files_quarterly_analysis/
files_yoy_comparison/
files_wealthscreening/
files_foundations_report/
files_accountflagssincefy18/
files_allaccountsandinfo/
files_alltransactions/
files_eventsandattendeessincefy19/
files_firstgiftsall/
files_foundations_report/
files_htactivities/
files_mgratings/
files_plannedgifts/
files_pledgeschedule/
files_proposals/
files_quarterly_analysis/
files_relationshipmanagerassignments/
files_transactionswsolicitors/
files_wealthscreening/
files_yoy_comparison/
roi_links/